

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(imagenes/Fondo.png);
    background-size: 100%;
    background-repeat: no-repeat ;
    background-position-y: 7.5vw;
    
}

#ini{
    position: absolute;
    margin-top: -10vw;
}

.contenedor{ 
    width: 100%;
    height: 5883px;
    
}

.caja2{
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: space-around;
    
}


.top{
    position: fixed;
    background-color: #3266cc;
    width: 100vw;
    height: 8vw;
    margin-top: -8vw;
    margin-left: -0.4vw;
    z-index: 2;
   display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo{
    width: 15vw;
}

.inicio{
    color: white;
    text-decoration: none;
    font-size: 2vw;
}

.botonConsulta{
    border-radius: 50px;
    width: 10vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.letraco{
    font-size: 1.5vw;
    
}

.ingreso{
    margin-top: 10vw;
    text-align: center;
    width: 40vw;

}

.ingreso h2{
    font-size: 3vw;
}

.ingreso p{
    font-size: 2vw;
}

.debido{
    display: flex;
    justify-content: center;
    margin: 20vw;
}

.fondo{
    display: flex;
    position: relative;
    top: 5vw;
    margin-top: 8vw;
    justify-content: space-around;
    flex-wrap: wrap;

}



#cajon{
    background-color: rgb(255, 255, 255);
    width: 35vw;
   height: auto;
    border-radius: 30px;
    
}

#cajon .letraConsulta{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -1.5vw;
    font-size: 1.5vw;
}

.divDatos{
    display: flex;
    justify-content: center;
    margin: 0vw 5vw -1vw 5vw;
    flex-direction: column;
}

#datos{
    font-size: 0.9vw;

}

.menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0vw;

}

.letraMenu{
    font-size: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.botonA{
    margin-top: 1.5vw;
    display: flex;
    justify-content: center;
    

}

.boton2{
    background-color: #157ffb;
    width: 10vw;
    border-radius: 10px;
    border: 0;

}

.boton2 p{
    font-size: 1vw;
}

#identificacion1{
    width: 25vw;
    height: 2vw;
    font-size: 1vw;
}

#identificacion{
    width: 25vw;
    height: 1.5vw;
    font-size: 1.5vw;
}
#identificacion2{
    width: 25vw;
    height: 2vw;
    font-size: 1vw;
}

#ingresoS{
    display: flex;
    justify-content: center;
    font-size: 3vw;
}
.contenido{
    text-align: center;
    width: 40vw;
    display: flex;
    font-size: 1.5vw;
    flex-direction: column;

}

.paracaidas{
    display: flex;
    align-items: center;
}

.para{
    width: 35vw;
}



.etapas{
    margin-top: -6vw;
    margin-left: 17vw;
    flex-direction: column;
}

.etapas a{
    opacity: 50%;
    font-size: 1.5vw;
    text-decoration: none;
}

.flecha{
    position: relative;
    top: 2vw;
    margin-left: -10vw;
    opacity: 50%;
    width: 2vw;
}


#etapasE p{
    text-align: center;
    font-size: 3vw;
    margin-bottom: 0.5vw;
}


.etapa1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 25vw;
}

.letraE1{
    font-size: 1.5vw;
    font-weight: lighter;
    margin-bottom: -1vw;
}

.letra1{
    font-size: 2vw;
    margin-bottom: -0.5vw;
}

.etapa2{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 25vw;
}

.etapa3{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 25vw;
}



.etapasTodas{
    display: flex;
    justify-content: space-around;
}

.logoI{
    width: 20vw;
    margin-top: 3.6vw;
}

.logoM1{
    width: 25vw;
    margin-top: -2vw;
}

.logoM2{
    position: relative;
    right: 8vw;
    width: 9vw;
}

.logoM3{
    position: relative;
    width: 9vw;
    left: 8vw;
    bottom: 6vw;
}

.logoD{
    width: 27vw;
    margin-top: 5vw;
}

.preg a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 2vw;
    opacity: 50%;
    margin-top: -4vw;
}

.flecha2{
    position: relative;
    left: 47vw;
    opacity: 50%;
    width: 2vw;

}

@media only screen and (max-width: 768px) {
    #cajon{
       width: 60%;
        height: 60vw;
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
        
        
       
        
    }
    .letraMenu{
        margin-bottom: -2vw;
    }
    #identificacion1{
        width: 50vw;
        height: 5vw;
    }

    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .contenedor{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}


